<h1>Goodbye</h1>
<p>Find me in app/views/greeter/hello.html.erb</p>
<% random_names = ["Alex", "Joe", "Michael"] %>
<h1>Goodbye, <%= random_names.sample %></h1>
<p>The time now is <%= Time.now %></p>
